/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
src/AgenceBundle/Resources/config/doctrine/Agence/Team.orm.yml
src/AgenceBundle/Resources/config/doctrine/Agence/Setting.orm.yml
src/AgenceBundle/Resources/config/doctrine/Agence/Portfolio.orm.yml
src/AgenceBundle/Resources/config/doctrine/Agence/Service.orm.yml
